@font-face {
  font-family: "iconfont"; /* Project id 3490419 */
  src: url('iconfont.woff2?t=1656483113501') format('woff2'),
       url('iconfont.woff?t=1656483113501') format('woff'),
       url('iconfont.ttf?t=1656483113501') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e663";
}

.icon-youjian_email_bg:before {
  content: "\e636";
}

.icon-qq:before {
  content: "\e60c";
}

.icon-z-weixin:before {
  content: "\e6c9";
}

.icon-github-fill:before {
  content: "\e885";
}

